@using System.Globalization;
@using System.Text;

<div style="width: 300px">
    <div>@ReferenceDate.ToString("MMMM yyyy", new CultureInfo("en-US"))</div>

    <div class="d-flex flex-wrap" style="gap: 1rem; margin: 1rem">
        <div style="width: calc(14% - 1rem)">Sun</div>
        <div style="width: calc(14% - 1rem)">Mon</div>
        <div style="width: calc(14% - 1rem)">Tue</div>
        <div style="width: calc(14% - 1rem)">Wed</div>
        <div style="width: calc(14% - 1rem)">Thu</div>
        <div style="width: calc(14% - 1rem)">Fri</div>
        <div style="width: calc(14% - 1rem)">Sat</div>

        @for (var day = 1; day < DateTime.DaysInMonth(ReferenceDate.Year, ReferenceDate.Month); day++) {
            var date = new DateOnly(ReferenceDate.Year, ReferenceDate.Month, day);
            var styleBuilder = new StringBuilder("width: calc(14% - 1rem); background-color: azure");

            if (day == 1) {
                styleBuilder.Append($"; margin-left: {14 * (int)date.DayOfWeek}%");
            }

            if (HighlightedDates.Contains(date)) {
                styleBuilder.Append("; font-weight: bold");
            }

            <div style="@styleBuilder">@day</div>
        }
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public DateOnly ReferenceDate { get; set; }

    [Parameter]
    public HashSet<DateOnly> HighlightedDates { get; set; } = new HashSet<DateOnly>();
}
