<CascadingValue Value="OnWindowKeyDown" Name="GlobalEventManager_OnWindowKeyDown">
    <button @onclick="Test">Test</button>

    @ChildContent
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public HashSet<EventCallback<KeyboardEventArgs>> OnWindowKeyDown = new HashSet<EventCallback<KeyboardEventArgs>>();

    public async Task Test() {
        await Task.WhenAll(OnWindowKeyDown.Select(e => e.InvokeAsync(new KeyboardEventArgs { Key = "T" })));
    }
}