<h3>Wizard</h3>

<div>
    @foreach (var step in Steps) {
        if (step == ActiveStep) {
            <span class="text-primary">@step.Title</span>
        }
        else {
            @step.Title
        }
    }
</div>

<div>
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    internal WizardStep ActiveStep { get; private set; }

    private List<WizardStep> Steps { get; set; } = new List<WizardStep>();

    internal void AddStep(WizardStep step) {
        Steps.Add(step);

        if (ActiveStep == null) {
            ActiveStep = step;
        }

        StateHasChanged();
    }
}
