@page "/BulletHellBeastMode"
@using BlazorPlayground.BulletHellBeastMode

<h1>Bullet Hell: Beast Mode</h1>

<div class="btn-toolbar">
	<fieldset class="btn-group mb-3 me-3">
		@if (IsActive) {
			<button type="button" class="btn btn-primary" @onclick="() => IsActive = false">Stop</button>
		}
		else {
			<button type="button" class="btn btn-primary" @onclick="() => IsActive = true">Start</button>
		}
	</fieldset>
</div>

@if (IsActive) {
	<Game />
}

@code {
	private bool IsActive { get; set; }
}
