@page "/calculator"

<div class="container">
    <h1>Calculator</h1>

    <div class="row">
        <div class="col-12 col-md-6 col-xl-4">
            <div class="mb-4">
                <input type="text" readonly="readonly" class="form-control" id="display">
                <input type="text" class="form-control" id="input">
            </div>

            <div class="row mb-4">
                <div class="col-3">
                    <button class="btn btn-light w-100">AC</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light w-100">(</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light w-100">)</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light w-100">&divide;</button>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-3">
                    <button class="btn btn-light w-100">7</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light w-100">8</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light w-100">9</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light w-100">&times;</button>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-3">
                    <button class="btn btn-light w-100">4</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light w-100">5</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light w-100">6</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light w-100">&minus;</button>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-3">
                    <button class="btn btn-light w-100">1</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light w-100">2</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light w-100">3</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light w-100">+</button>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-3">
                    <button class="btn btn-light w-100">&plusmn;</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light w-100">0</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light w-100">,</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-primary w-100">=</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
