@page "/chart"
@using BlazorPlayground.Chart

<h1>Chart</h1>

<XYChart Labels="@(new List<string>() { "Foo", "Bar", "Baz", "Quux", "Quuux" })">
    <Canvas Height="500" Width="1000" XAxisLabelHeight="45" YAxisLabelWidth="60" Padding="15" />
    <PlotArea Multiplier="1000">
        <AutoScaleSettings IsEnabled="true" IncludeZero="true" ClearancePercentage="0" RequestedGridLineCount="8" />
    </PlotArea>
    <AreaLayer>
        <DataSeries DataPoints="new List<decimal?> { 27000, 22500, 28500, 3500, 16000 }" Color="#f75c03" />
    </AreaLayer>
    <BarLayer IsStacked="true" ClearancePercentage="25" GapPercentage="10">
        <DataSeries DataPoints="new List<decimal?> { 11000, 19000, 31500, null, 9500 }" Color="#f1c40f" />
        <DataSeries DataPoints="new List<decimal?> { 21000, -22000, 15500, 12000, 3500 }" Color="#00cc66" />
    </BarLayer>
    <LineLayer DataLineWidth="3" DataMarkerType="DefaultDataMarkerTypes.Square" LineGapMode="LineGapMode.Skip">
        <DataSeries DataPoints="new List<decimal?> { 12500, 20500, 32500, -5500, -17000 }" Color="#2274a5" />
        <DataSeries DataPoints="new List<decimal?> { 20500, -19000, null, -12500, -11000 }" Color="#d90368" />
    </LineLayer>
</XYChart>
