@page "/form"

<div class="container">
    <h1>BlazorPlayground FormTest</h1>

    <EditForm EditContext="Context" OnValidSubmit="Break">
        <ValidationSummary />
        <DataAnnotationsValidator />

        <label for="Value">Value</label>
        <InputText @bind-Value="TestModel.Value" id="Value" />
        <ValidationMessage For="() => TestModel.Value" />

        <button @onclick="Submit">Submit</button>
    </EditForm>
</div>

@code {
    public EditContext Context { get; set; }
    public Model TestModel { get; set; }

    protected override void OnInitialized() {
        Context = new EditContext(TestModel = new Model());
    }

    private void Submit() {
        var test = Context.Validate();
    }

    private void Break() {

    }
}
