@page "/graphics"
@using BlazorPlayground.Graphics

<h1>Graphics</h1>

<EditForm Model="shapeType">
    <InputRadioGroup @bind-Value="@shapeType">
        <div>
            <div>
                <InputRadio Value="ShapeType.Line" /> Line
            </div>
            <div>
                <InputRadio Value="ShapeType.Square" /> Square
            </div>
        </div>
    </InputRadioGroup>
</EditForm>

<svg width="800" height="800" style="border: 1px solid grey" @onmousedown="OnStart" @onmouseup="OnEnd">
    @foreach (var shape in Shapes) {
        <ShapeRenderer @key="shape" Shape="shape" />
    }
</svg>

@code {
    public enum ShapeType {
        Line,
        Square
    }

    private ShapeType shapeType = ShapeType.Line;
    private Point startPoint;

    public void OnStart(MouseEventArgs args) {
        startPoint = new Point(args.OffsetX, args.OffsetY);
    }

    public void OnEnd(MouseEventArgs args) {
        if (startPoint != null) {
            var endPoint = new Point(args.OffsetX, args.OffsetY);

            switch (shapeType) {
                case ShapeType.Line:
                    Shapes.Add(new Line(startPoint, endPoint));
                    break;
                case ShapeType.Square:
                    Shapes.Add(new Square(startPoint, endPoint));
                    break;
            }

            startPoint = null;
        }
    }

    public List<IShape> Shapes { get; set; } = new List<IShape>() {
        new Line(new Point(10, 10), new Point(250, 490)),
        new Line(new Point(490, 10), new Point(250, 250)),
        new Square(new Point(140, 140), new Point(240, 240)),
        new Square(new Point(180, 180), new Point(280, 280))
    };

}
