@page "/graphics"
@using BlazorPlayground.Graphics

<h1>Graphics</h1>

<EditForm Model="shapeType">
    <InputRadioGroup @bind-Value="@shapeType">
        <div>
            <div>
                <InputRadio Value="ShapeType.Line" /> Line
            </div>
            <div>
                <InputRadio Value="ShapeType.RegularPolygon" /> Regular polygon<br />
                <!-- TODO validate 3+ no decimals -->
                Sides: <InputNumber @bind-Value="regularPolygonSides" />
            </div>
        </div>
    </InputRadioGroup>
</EditForm>

<svg class="graphics-main" @onmousedown="OnMouseDown" @onmouseup="OnMouseUp">
    @foreach (var shape in Shapes) {
        <ShapeRenderer @key="shape" Shape="shape" />
    }
</svg>

@code {

    private List<IShape> Shapes = new List<IShape>();
    private ShapeType shapeType = ShapeType.Line;
    private Point startingPosition;
    private int? regularPolygonSides = 4;

    public void OnMouseDown(MouseEventArgs args) {
        startingPosition = new Point(args.OffsetX, args.OffsetY);
    }

    public void OnMouseUp(MouseEventArgs args) {
        if (startingPosition != null) {
            var endPoint = new Point(args.OffsetX, args.OffsetY);

            switch (shapeType) {
                case ShapeType.Line:
                    Shapes.Add(new Line(startingPosition, endPoint));
                    break;
                case ShapeType.RegularPolygon:
                    Shapes.Add(new RegularPolygon(startingPosition, endPoint, regularPolygonSides ?? 4));
                    break;
            }

            startingPosition = null;
        }
    }
}
