@page "/graphics"
@using BlazorPlayground.Graphics

<h1>Graphics</h1>

<ul class="nav nav-tabs mb-3">
    @foreach (var actionType in Enum.GetValues<ActionType>()) {
        <li class="nav-item">
            <a class="nav-link @(currentActionType == actionType ? "active" : "")" @onclick="() => SwitchActionType(actionType)">@actionDefinitions[actionType].Name</a>
        </li>
    }
</ul>

<div class="mb-3 graphics-ribbon">
    <div class="btn-toolbar">
        @if (currentActionType == ActionType.Select) {            
            <div class="button-group mb-3">
                <button type="button" class="btn btn-secondary" @onclick="DeleteSelected">Delete</button>
            </div>
        }
        else if (currentActionType == ActionType.DrawLine) {

        }
        else if (currentActionType == ActionType.DrawRegularPolygon) {
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label for="regularPolygonSides" class="input-group-text">Sides</label>
                </div>
                <input type="text" class="form-control" id="regularPolygonSides" @bind-value="RegularPolygonSides" />
            </div>
        }
    </div>
</div>

<div class="container-fluid graphics-main">
    <svg @onmousedown="OnMouseDown" @onmousemove="OnMouseMove" @onmouseup="OnMouseUp" @onclick="OnClick">
        @foreach (var shape in shapes) {
            <ShapeRenderer @key="shape" Shape="shape" OnClick="args => OnShapeClick(args, shape)" />
        }

        @if (IsDrawing && CurrentActionDefinition is DrawActionDefinition drawActionDefinition) {
            <ShapeRenderer @key="startPoint" Shape="drawActionDefinition.CreateShape(this, currentPoint)" IsNew="true" />
        }
    </svg>
</div>

@code {

    private enum ActionType {
        Select,
        DrawLine,
        DrawRegularPolygon
    }

    private class ActionDefinition {
        public string Name { get; }
        public Action<Graphics, Point> OnExecute { get; }
        public Action<Graphics> OnSelect { get; }
        public Action<Graphics> OnDeselect { get; }

        public ActionDefinition(string name, Action<Graphics, Point> onExecute = null, Action<Graphics> onSelect = null, Action<Graphics> onDeselect = null) {
            Name = name;
            OnExecute = onExecute ?? ((_, _) => { });
            OnSelect = onSelect ?? (_ => { });
            OnDeselect = onDeselect ?? (_ => { });
        }
    }

    private class DrawActionDefinition : ActionDefinition {
        public Func<Graphics, Point, Shape> CreateShape { get; }

        public DrawActionDefinition(string name, Func<Graphics, Point, Shape> createShape, Action<Graphics> onSelect = null, Action<Graphics> onDeselect = null)
            : base(name, (graphics, endPoint) => graphics.AddShape(endPoint, createShape), onSelect, onDeselect) {
            CreateShape = createShape;
        }
    }

    private static Dictionary<ActionType, ActionDefinition> actionDefinitions = new Dictionary<ActionType, ActionDefinition>() {
        { ActionType.Select, new ActionDefinition("Select", onDeselect: graphics => graphics.DeselectAll()) },
        { ActionType.DrawLine, new DrawActionDefinition("Line", (graphics, endPoint) => new Line(graphics.startPoint, endPoint)) },
        { ActionType.DrawRegularPolygon, new DrawActionDefinition("Regular polygon", (graphics, endPoint) => new RegularPolygon(graphics.startPoint, endPoint, graphics.regularPolygonSides)) }
    };

    private List<Shape> shapes = new List<Shape>();
    private ActionType currentActionType = ActionType.DrawRegularPolygon;
    private Point startPoint;
    private Point currentPoint;
    private int regularPolygonSides = 3;
    private bool hasSelected = false;

    private int RegularPolygonSides {
        get => regularPolygonSides;
        set => regularPolygonSides = Math.Max(value, 3);
    }

    private bool IsDrawing => startPoint != null;

    private ActionDefinition CurrentActionDefinition => actionDefinitions[currentActionType];

    private void SwitchActionType(ActionType newActionType) {
        CurrentActionDefinition.OnDeselect(this);
        currentActionType = newActionType;
        CurrentActionDefinition.OnSelect(this);
    }

    private void OnMouseDown(MouseEventArgs args) {
        if (args.Button == 0) {
            startPoint = new Point(args.OffsetX, args.OffsetY);
        }
    }

    private void OnMouseMove(MouseEventArgs args) {
        if (args.Button == 0) {
            currentPoint = new Point(args.OffsetX, args.OffsetY);
        }
    }

    private void OnMouseUp(MouseEventArgs args) {
        if (args.Button == 0) {
            CurrentActionDefinition.OnExecute(this, new Point(args.OffsetX, args.OffsetY));
            startPoint = null;
            currentPoint = null;
        }
    }

    private void OnClick(MouseEventArgs args) {
        if (currentActionType == ActionType.Select) {
            DeselectAllIfRequired();
        }
    }

    private void DeselectAllIfRequired() {
        if (hasSelected) {
            hasSelected = false;
        }
        else {
            DeselectAll();
        }
    }

    private void AddShape(Point endPoint, Func<Graphics, Point, Shape> createShape) {
        if (HasMetMinimumSizeRequirement(endPoint)) {
            shapes.Add(createShape(this, endPoint));
        }
    }

    private bool HasMetMinimumSizeRequirement(Point endPoint)
        => Math.Sqrt(Math.Pow(startPoint.X - endPoint.X, 2) + Math.Pow(startPoint.Y - endPoint.Y, 2)) > 5;

    private void OnShapeClick(MouseEventArgs args, Shape shape) {
        if (currentActionType == ActionType.Select) {
            Select(args, shape);
        }
    }

    private void Select(MouseEventArgs args, Shape shape) {
        hasSelected = true;

        if (args.CtrlKey) {
            shape.IsSelected = !shape.IsSelected;
        }
        else {
            DeselectAll();
            shape.IsSelected = true;
        }
    }

    private void DeleteSelected() {
        shapes.RemoveAll(s => s.IsSelected);
    }

    private void DeselectAll() {
        foreach (var shape in shapes.Where(s => s.IsSelected)) {
            shape.IsSelected = false;
        }
    }
}
