@page "/test"

<h1>BlazorPlayground Test</h1>

<div>
    <button @onclick="() => Wizard.Start()">Show yourself, wizard!</button>
</div>

<div>
    <Wizard @ref="Wizard">
        <TitleContent>
            <h2>Test wizard</h2>
        </TitleContent>
        <WizardSteps>
            <WizardStep Title="Step 1" OnInitializeStep="InitStep1">
                A content 1
            </WizardStep>
            <WizardStep Title="Step 2" OnInitializeStep="InitStep2" OnTryCompleteStep="TryCompleteStep2">
                <div>
                    <input type="checkbox" @bind-value="Step2Check" /> Go next?
                </div>
                A content 2
            </WizardStep>
            <WizardStep Title="Step 3">
                A last content
            </WizardStep>
        </WizardSteps>
    </Wizard>
</div>

<div>@Status</div>

@code {
    public Wizard Wizard { get; set; }

    public string Status { get; set; } = string.Empty;

    public bool Step2Check { get; set; }

    public void TryCompleteStep2(TryCompleteStepEventArgs args) {
        args.IsCancelled = !Step2Check;
    }

    public void InitStep1() {
        Status += "Step 1 init! ";
    }

    public void InitStep2(InitializeStepEventArgs args) {
        Status += "Step 2 init! ";
    }
}
