@page "/test"

<h1>BlazorPlayground Test</h1>

<Wizard>
    <WizardStep Title="Step 1">
        A content 1
    </WizardStep>
    <WizardStep Title="Step 2">
        A content 2
    </WizardStep>
</Wizard>

@code {

}
