@page "/wizard"
@page "/wizard/{autostart:bool}"

<div class="container">
    <h1>BlazorPlayground Test</h1>

    <div>
        <button @onclick="() => Wizard.Start()" class="btn btn-primary">Show yourself, wizard!</button>
    </div>

    <Wizard @ref="Wizard"
            ContainerClass="wizard"
            TitleClass="wizard-title"
            MenuClass="wizard-menu"
            MenuItemClass="wizard-menu-item"
            ActiveMenuItemClass="wizard-menu-item-active"
            ButtonBarClass="wizard-buttons"
            ButtonClass="wizard-button"
            ContentClass="wizard-body"
            LayoutOrder="new List<WizardComponent>() { WizardComponent.Title, WizardComponent.Menu, WizardComponent.Buttons }">
        <TitleContent>
            Test wizard
        </TitleContent>
        <Steps>
            <WizardStep Title="Step 1" OnInitializeStep="InitStep1" OnTryCompleteStep="TryCompleteStep1">
                <EditForm EditContext="Context">
                    <DataAnnotationsValidator />

                    <label for="Value">Value</label>
                    <InputText @bind-Value="TestModel.Value" id="Value" />
                    <ValidationMessage For="() => TestModel.Value" />
                </EditForm>
            </WizardStep>
            <WizardStep Title="Step 2" OnInitializeStep="InitStep2" OnTryCompleteStep="TryCompleteStep2">
                <div>
                    <input type="checkbox" @bind="Step2Check" /> Go next?
                </div>
                A content 2
            </WizardStep>
            <WizardStep Title="Step 3">
                A last content
            </WizardStep>
        </Steps>
    </Wizard>

    <div>@Status</div>
</div>

@code {
    [Parameter]
    public bool AutoStart { get; set; }

    public EditContext Context { get; set; }
    public Model TestModel { get; set; }

    public Wizard Wizard { get; set; }

    public string Status { get; set; } = string.Empty;

    public bool Step2Check { get; set; } = true;

    public void TryCompleteStep1(TryCompleteStepEventArgs args) {
        args.IsCancelled = !Context.Validate();
    }

    public void TryCompleteStep2(TryCompleteStepEventArgs args) {
        args.IsCancelled = !Step2Check;
    }

    public void InitStep1() {
        Context = new EditContext(TestModel = new Model());
        Status += "Step 1 init! ";
    }

    public void InitStep2(InitializeStepEventArgs args) {
        Status += "Step 2 init! ";
    }

    protected override void OnAfterRender(bool firstRender) {
        if (firstRender && AutoStart) {
            Wizard.Start();
        }
    }

    // TODO on finished?
    // TODO inner component test
}
